{
  "extends": "./.config/.eslintrc",
  "ignorePatterns": [
    "jest.config.js",
    "jest-setup.js",
    "jest-polyfills.js",
    ".prettierrc.js",
    "playwright.config.ts",
    "tests/",
    "testing/scripts/"
  ]
}
